<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>Edit Contact</title>
  <link rel="stylesheet" href="../static/normalize.css">
  <link rel="stylesheet" href="../static/style.css">
</head>

<body>
  <header class="header">
    <div class="container header-container">
      <h1 class="header-title">
        Contacts Manager
      </h1>

      <p class="header-text">
        Manage your contacts!
      </p>
    </div>
  </header>

  <main>
    <section class="edit-section section-offset">
      <div class="container edit-container flex">
        <h2 class="edit-title">
          Edit contact
        </h2>

        <form class="edit-form flex" action="#" method="post">
          <fieldset class="fieldset flex">
            <legend class="hidden">
              Contact data
            </legend>

            <label class="label" for="firstName">First Name</label>
            <input id="firstName" class="input" type="text" name="firstName" required maxlength="20" placeholder="Ivan">

            <label class="label" for="lastName">Last Name</label>
            <input id="lastName" class="input" type="text" name="lastName" required maxlength="20" placeholder="Ivanov">

            <label class="label" for="email">Email</label>
            <input id="email" class="input" type="email" name="email" required placeholder="email@example.com">

            <label class="label" for="phone">Phone</label>
            <input id="phone" class="input" type="tel" name="phone" required placeholder="+12345678901">
          </fieldset>

          <div class="button-container flex">
            <a href="index.html"><input class="button red-button" type="button" value="Cancel"></a>
            <button class="button green-button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </main>
</body>

</html>
